@charset "utf-8";
/* CSS Document */
/*头部开始*/
ul li{
	list-style-type: none;
}
ul{
	padding: 0!important;
}
.logo{
	float:left;
}
.logo a{
	display: inline-block;
	width: 80px;
	height: 45px;
	background: url(../images/logo.png) no-repeat center center;
	background-size: cover;
	margin-top: 16px;
}

.dianpu{
	float:left;
}
.dianpu b{
	display: inline-block;
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	margin-left: 10px;
	margin-top: 16px;
}

.sousuo{
	margin-top: 16px;
}
.sousuo input{
	border: #607a4f solid 2px;
	height: 30px;
	background: url(../images/ioc1.png) no-repeat 10px -885px;
}
.input-group-addon{
	border: #607a4f solid 1px!important;
	background: #607a4f!important;
	color: #fff!important;
	font-size: 14px!important;
}
.miaosu ul{
	padding: 0!important;
}
.miaosu ul li{
	float: left;
	font-weight: bold;
	font-size: 12px;
	margin-right: 5px;
}
.miaosu ul li:last-child{
	margin: 0!important;
}
.miaosu ul li a{
	padding: 3px 6px;
	background: #607a4f;
	color: #fff;
}
.souguang ul li{
	float: right;
	margin-top: -10px;
	padding: 5px 0 5px 35px;
}
.souguang ul li:first-child{ 
	display: none;
	background: url(../images/ioc.png) no-repeat left -242px;
}
.souguang ul li:last-child{
	display: none;
	background: url(../images/ioc.png) no-repeat left -107px;
}
.souguang ul li a{
	font-size: 12px;
	font-weight: bold;
	color: #333;
}
/*头部结束*/

/*导航开始*/
.daohang{
	height: 24px;
	margin-top: 10px;
	background: #aaaaaa;
}
.nav>li>a{
	display: inline-block;
	padding: 0 10px!important;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #fff;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle!important;
    border-top: 8px dashed!important;
    border-top: 8px solid 12px!important;
    border-right:4px solid transparent!important;
    border-left: 4px solid transparent!important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #959595!important;
}
.dropdown-menu>li>a {
	background: #e5e5e5;
	font-size: 14px;
	font-weight: bold!important;
}
/*导航结束*/

/*轮播开始*/
.lunboqu {
	margin-top: 10px;
}
.lunboqu span{
	display: inline-block;
	width: 100%;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	color:#fff;
	text-indent: 20px;
	background: #aaaaaa;
}
.item img{
	width: 100%;
}
/*轮播结束*/


/*宝贝推荐区*/
.biaoti span{
	display: inline-block;
	width: 100%;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	color:#fff;
	text-indent: 20px;
	background: #aaaaaa;
	margin-top: 10px;
}

.biaoti span a{
	padding-right: 20px;
	color: #fff;
	background: url(../images/ioc.png) no-repeat 50px -482px;
}
.baobei-sid{
	margin-top: 10px;
}
.baobei-sid p{
	margin: 0!important;
}
.baobei-sid:nth-of-type(2) p{
	margin-bottom: 20px!important;
}
.baobei-sid:nth-of-type(3) p{
	margin-bottom: 20px!important;
}
.baobei-sid:nth-of-type(4) p{
	margin-bottom: 20px!important;
}
.baobei-sid:nth-of-type(7) p{
	margin-bottom: 20px!important;
}

.baobei-sid p a{
	font-size: 12px;
	font-weight: bold;
	color: #333;
}
.baobei-sid span{
	font-size: 14px;
	color: #d6544c;
	font-weight: bold;
}
/*宝贝推荐结束*/

/*分页开始*/
.fenye li a{
	margin-top: 20px;
	margin-left: 2px!important;
	margin-right: 2px!important;
	background: #dcdcdc!important;
	color: #333!important;
}
.zhiding{
	margin-top: -30px;
	display: inline-block;
	height: 44px;
	width: 62px;
	background: url(../images/ioc.png) no-repeat left -590px;
	cursor: pointer;
}
/* 分页结束*/
/* 底部开始*/
.bjse{
	height: 60px;
	background: #dcdcdc;
	margin-top: 20px;
}
.bjse p{
	margin:10px auto auto auto!important;
	font-size: 12px;
	color: #333;
	font-weight: bold;
}
.bjse p span{
	margin-left: 20px;
}